{% extends 'base.html' %}
{% load static from staticfiles %}
{% load mineral_field %}

{% block content %}
<div class="grid-100 mineral__container">
  <h1 class="mineral__name">{{ mineral.name|title }}</h1>
  <div class="mineral__image-bg">
    <img class="mineral__image" src="{% static 'minerals/data/images/' %}{{  mineral.name|title }}.jpg">
    <p class="mineral__caption">{{ mineral.image_caption }}</p>
  </div>
  <div class="mineral__table-container">
    <table class="mineral__table">
        {% for field in mineral.fields %}
        {% if field.name != 'image_filename' and field.name != 'image_caption' and field.name != 'id' %}
        {% render_mineral_field mineral field %}
        {% endif %}
        {% endfor %}
    </table>
  </div>
</div>
{% endblock %}