{% extends 'base.html' %}

{% block content %}
<div class="grid-100">
  <ul class="minerals__container">
    {% for mineral in minerals %}
    <li class="minerals__item">
      <a class="minerals__anchor" href="{% url 'minerals:detail' pk=mineral.pk %}">{{ mineral.name|title }}</a>
    </li>
    {% endfor %}
  </ul>
</div>
{% endblock %}

{% block javascript %}
<script>
    {% if letter %}
        $(".alphabet-filter-bar a:contains('A')").attr('class', '');
        const selected = $(".alphabet-filter-bar a:contains('{{ letter }}')");
        selected.attr('class', 'selected');
    {% endif %}
    {% if category %}
        const selectedCategory = document.getElementById('{{ category }}');
        selectedCategory.className = 'selected';
    {% endif %}
</script>
{% endblock %}